img {
  max-width: 100%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
